<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<div>
  <a routerLink="first">First Component</a><br>
  <a routerLink="second">Second Component</a><br>
  <a routerLink="third">Third Component</a><br>
</div>
<div>
  <router-outlet></router-outlet>
</div>
<div>
  <app-five></app-five>
</div>
<div>
  <app-seven></app-seven>
</div>
<!-- 
<div>
  <app-first></app-first>
</div>
<div>
  <app-second></app-second>
</div>
<div>
  <app-third></app-third>
</div>
-->
