<p>Seventh Component</p>
<p>Registration Form</p>
<p>{{name}} {{address}} {{age}} {{gender}} {{email}}</p>
<form [formGroup]='formData' (ngSubmit)='onSubmit(formData.value)'>
  Name: <input type='text' name='name' placeholder='name' formControlName='nname'><br>
  Address: <input type='text' name='address' placeholder='address' formControlName='address'><br>
  Age: <input type='number' name='age' placeholder='age' formControlName='age'><br>
  Gender: <select name='gender' formControlName='gender'>
    <option value='Male'>Male</option>
    <option value='Female'>Female</option>
  </select><br>
  Email: <input type='text' name='email' placeholder='email' formControlName='email'><br>
  <input type='submit' value='Submit' [disabled]='!formData.valid' class='forsubmit'><br>
</form>

<hr>